@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --darker-grey: #212529;
    --darker-lighter-grey: #343a40;
    --soft-grey: #adb5bd;
    --light-grey: #e9ecef;
    --white: #f8f9fa;
    --pastel-red: #ff5e5b;
    --darker-red: #b02d2b;
}

::selection {
    background-color: var(--soft-grey);
    color: var(--darker-grey);
}

body, html {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;

}

body {
    color: var(--white);
    background-color: var(--darker-grey);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cracha {
    background-color: var(--darker-lighter-grey);
    margin-top: 7vh;
    width: 280px;
    height: 470px;
    display: flex;
    flex-direction: column;  
    padding: 20px;
    box-shadow: 10px 10px 20px 5px rgba(0,0,0, 20%);
    border-radius: 3px;
    animation: start-cracha ease-in-out 0.7s;
}

@keyframes start-cracha {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0px);
    }
}

.title {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10%;
    font-family: Silkscreen;
}

.iam {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title h1 {
    font-size: 30px;
}

.title h4 {
    font-size: 15px;
}

.description {
    font-family: Roboto;
    cursor: pointer;
}
.description:hover {
    color: var(--pastel-red);
}


.teste {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    gap: 0.3rem;
}

.links {
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    gap: 0.7rem;
}

.link-square {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    background-color: var(--pastel-red);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: var(--white);
    box-shadow: 0 7px 5px 0 rgba(0,0,0,5%);
    cursor: pointer;
    transition: ease-in-out 1s;
}


.link-square:hover {
    background-color: var(--darker-red);
}


.hole {
    position: relative;
    background-color: var(--darker-grey);
    width: 70px;
    height: 30px;
    border-radius: 20px;
    margin: 0 auto;
}

a {
    text-decoration-line: none;
}


.fita-1 {
    background-color: var(--white);
    width: 20px;
    height: 250px;
    rotate: 20deg;
}

.fita-2 {
    background-color: var(--white);
    width: 20px;
    height: 250px;
    rotate: -20deg;
}

.fitas {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -10px;
    z-index: -200;
}

.video-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 10%;

}